<!DOCTYPE html>
<html>
<head>
	<title> Company Details </title>
  <style type="text/css">
    
    #h2{
        font-size: 25px;
        color:#f6f8ff;
        background-color: #080e6c;

    }

  </style>
 
</head>
<body >
	<div ng-controller="ComCtrl">
	 
		<div class="container-fluid">
			<div class="row centered-form">
				<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<div class="panel panel-primary">
						<div class="panel-heading" id="h2">	
							<h3 class="panel-title"><center> Company Master </center></h3>
						</div>
						<div class="panel-body">
							 
        <md-content class="md-padding">
        				

        				<div layout-gt-sm="row">
							<div flex="5"></div>							
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>Company Name</label>
      							<input name="cname" ng-model="Obj.cname">
      						
 							</md-input-container>
          				

          					<div flex="5"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>Company Destination</label>
      							<input name="cdesc" ng-model="Obj.cdesc">
 							</md-input-container>

 							<div flex="5"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>Contact Number</label>
      							<input name="contactno" ng-model="Obj.contactno">
      							
 							</md-input-container>
 						</div>

          				

          					
        				<div layout-gt-sm="row">
          		<div flex="5"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>website</label>
      							<input name="website" ng-model="Obj.website">
 							</md-input-container>

 							<div flex="5"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>Mail id </label>
      							<input name="email" ng-model="Obj.email">
      							
 							</md-input-container>
 						
							<div flex="5"></div>							
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>mobile number</label>
      							<input name="mbno" ng-model="Obj.mbno">
      						
 							</md-input-container>
            </div>
          				
              <div layout-gt-sm="row">

          					<div flex="15"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>address</label>
      							<input name="address" ng-model="Obj.address">
 							</md-input-container>

 							<div flex="15"></div>
							<md-input-container class="md-block" flex-gt-sm="25">
            					<label>logo </label>
      							<input name="logo"type="file"ng-model="Obj.logo">
      							
 							</md-input-container>
 						</div>


 							<div layout-gt-sm="row">
               				<div flex="10"></div>							
							<md-input-container class="md-block" flex-gt-sm="20">
            					<md-button ng-show="btnSave" ng-click="initBtn();save(Obj);clear();getlist()">save</md-button>
 							
          				

        						
				
            					<md-button ng-show="btnUpdate" ng-click="initBtn();updateBtn(Obj);update(Obj);clear();getlist()">Update</md-button>
 							</md-input-container>

 							  <div flex="10"></div>             
              <md-input-container class="md-block" flex-gt-sm="20">
                      <md-button ng-click="clear()">Clear</md-button>
              </md-input-container>
            

							<div flex="10"></div>							
							<md-input-container class="md-block" flex-gt-sm="20">
            					<md-button>cancel</md-button>
 							</md-input-container>
 						</div>


             <div layout-gt-sm="row">
                              <div flex="100">
                               
                                  <div class="panel panel-primary">
                                    <div class="panel-heading" id="h2">
                                      <label><center>Company Master Details</center></label>
                                    </div>
                                    <div class="panel-body">
                                      <div class="table-responsive">


                                        <table id="myTable" st-table="Detailtable" st-safe-src="getCom" class="table table-hover" >
       <thead>  
                    <th>Sr.no</th>
          <th>Company Name</th>
          <th>Address</th>
          <th> Mobile No </th>
         
         <th>Action</th> 


              </thead>
        <tbody>
  
            <tr id="myre" ng-repeat="data in Detailtable|filter:search">
               <td>{{$index +1}}</td>
               <td>{{data.cname}}</td>
                <td>{{data.address}}</td>
               <td>{{data.mbno}}</td>
      
               <td><button class="btn-hover color-1" data-toggle="tooltip" title="edit" ng-click="editbtn();edit(data.companyId)"><i class="glyphicon glyphicon-pencil"></i></button></td>


              </tr>
            </tbody>

        </table>
                              
                                      </div>
                                    </div>
                                  </div>
                               
                              </div>
                              </div>
                          </md-content>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </body>
            </html>


 							
<!-- </md-input-container>
</div>
</md-content> -->

 						